@model Block

@{
    ViewData["Title"] = _localizer["Edit"];
    var blockType = (BlockType)ViewData["BlockType"];
}

<div class="content-wrapper">
  
      <div class="page-title d-flex justify-content-between">

        <div>
            <span class="title-data" data-main='@(ViewData["Main"])'>@ViewData["Title"]</span>
        </div>

    </div>

  

    <div class="card main-card w-100">
        <div class="card-body">
            <form asp-action="Edit" asp-route-blockType="@ViewData["BlockType"]">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@* 
                
                @if ( blockType != BlockType.HomePage)
                { *@

               
                    <div class="form-group row">
                        <label asp-for="Title" class="col-xl-2 col-lg-3 col-form-label"></label>
                        <div class="col-xl-10 col-lg-9">
                        <input asp-for="Title" class="form-control" />
                        <small><span asp-validation-for="Title" class="form-text text-danger"></span></small>
                        </div>
                    </div>
                
                @if (blockType != BlockType.SignUpBanner)
                {
                    

                    <div class="form-group row">
                        <label asp-for="Content" class="col-xl-2 col-lg-3 col-form-label"></label>
                        <div class="col-xl-10 col-lg-9">
                            @Html.EditorFor(model => model.Content)
                            <small><span asp-validation-for="Content" class="form-text text-danger"></span></small>
                        </div>
                    </div>

                }


                @if (blockType != BlockType.AboutUs @* && blockType != BlockType.Terms *@ && blockType != BlockType.ThanksEmail)
                {

                    <div class="form-group row">
                        <label asp-for="Picture" class="col-xl-2 col-lg-3 col-form-label"></label>
                        <div class="col-xl-10 col-lg-9">
                            @Html.EditorFor(model => model.Picture)
                            <small><span asp-validation-for="Picture" class="form-text text-danger"></span></small>
                        </div>
                    </div>

                  

                    @if (blockType != BlockType.HomePage && blockType != BlockType.SignUpBanner && blockType != BlockType.ThanksEmail)
                    {

                        <div class="form-group row">
                            <label asp-for="Description" class="col-xl-2 col-lg-3 col-form-label"></label>
                            <div class="col-xl-10 col-lg-9">
                                @Html.EditorFor(model => model.Description)
                                <small><span asp-validation-for="Description" class="form-text text-danger"></span></small>
                            </div>
                        </div>
                      

                    }

                }
                <div class="form-group row">
                    <label asp-for="DisplayOrder" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="DisplayOrder" type="text" class="touchspin touchspin-sm" value="10">
                        <small><span asp-validation-for="DisplayOrder" class="form-text text-danger"></span></small>
                    </div>
                </div>

                <div class="form-group  row">
                    <label asp-for="Hidden" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                            <input type="checkbox" asp-for="Hidden" class="custom-control-input">
                            <span class="custom-control-label"></span>
                            <label class="custom-control-description" asp-for="Hidden"></label>
                        </label>
                    </div>
                </div>

                @Html.HiddenFor(model => model.Id)
                <input type="hidden" asp-for="CreatedOnUtc" value="@Model.CreatedOnUtc" />
                <input type="hidden" asp-for="UpdatedOnUtc" value="@DateTime.UtcNow.AddHours(3)" />

                <div class="d-flex justify-content-end">

                    <input type="submit" class="btn btn-primary" value="@_localizer["Save"]" />

                </div>
            </form>

        </div>
    </div>
</div>