@model UserEditViewModel
@{
    ViewData["Title"] = _localizer["Edit"];
    ViewData["Main"] = _localizer["Manage Users"];
}


<div class="content-wrapper">
    <div class="page-title">
        <span class="title-data" data-main='@(ViewData["Main"])'>@ViewData["Title"]</span>
    </div>
    <div class="card main-card w-100">
        <div class="card-body">
            <form asp-action="EditUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <label asp-for="FullName" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="FullName" class="form-control" />
                        <small>
                            <span asp-validation-for="FullName" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="Email" class="form-control" />
                        <small>
                            <span asp-validation-for="Email" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Mobile" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="Mobile" class="form-control phone__tel" />
                        <small><span asp-validation-for="Mobile" class="form-text text-danger"></span></small>
                    </div>
                </div>
                <input type="hidden" asp-for="CountryCode" />


                <div class="form-group row">
                    <label asp-for="Age" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="Age" class="form-control" />
                        <small>
                            <span asp-validation-for="Age" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Weight" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="Weight" class="form-control" />
                        <small>
                            <span asp-validation-for="Weight" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LevelId" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <select class="form-control select__picker" placeholder="Select Level" data-live-search="true" asp-for="LevelId" asp-items="@ViewBag.Levels">
                            <option value=""> Select Level </option>
                        </select>
                        <small><span asp-validation-for="LevelId" class="form-text text-danger"></span></small>
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="Gender" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <select class="form-control" asp-for="Gender" asp-items="@Html.GetEnumSelectList<Gender>()">
                            <option value="">choose</option>
                        </select>
                        <small>
                            <span asp-validation-for="Gender" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="Picture" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        @Html.EditorFor(e => e.Picture)
                        <small>
                            <span asp-validation-for="Picture" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NewPassword" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="NewPassword" autocomplete="off" aria-autocomplete="none" class="form-control" />
                        <small>
                            <span asp-validation-for="NewPassword" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ConfirmNewPassword" class="col-xl-2 col-lg-3 col-form-label"></label>
                    <div class="col-xl-10 col-lg-9">
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <small>
                            <span asp-validation-for="ConfirmNewPassword" class="form-text text-danger"></span>
                        </small>
                    </div>
                </div>

                @Html.HiddenFor(e => e.Id)
                @Html.HiddenFor(e => e.BranchId)

                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary my_btn red_btn" value="@_localizer["Save"]" />
                    <a asp-action="Users" class="cancel btn-secondary btn ml-2">@_localizer["Cancel"]</a>
                </div>

            </form>
        </div>
    </div>
</div>