
<a href="javascript:void(0)" class="logo">
    <img src="/images/front/nav-logo.jpg" alt="Logo" class="logo-lg">
    <img src="/images/front/nav-logo.jpg" alt="Logo" class="logo-sm">
</a>
<div class="sidebar">
    <div class="sidebar-scroll">

      
            <ul class="sidebar-menu">

                <li>
                    <a href="javascript:void(0)" class="has-arrow">
                        <i class="fa  fa-gears" aria-hidden="true"></i><span>@_localizer["Settings"]</span>
                    </a>
                    <ul>
                        <li class="@Html.IsSelected("Configurations", "Index,Edit,Create")">
                            <a asp-controller="Configurations" asp-action="Index">
                                <span>@_localizer["Configurations"]</span>
                            </a>
                        </li>

                    <li class="@(Html.GetId("blockType") == BlockType.HomePage.ToString() ? "active" : "")">
                        <a asp-controller="Blocks" asp-action="Index" asp-route-blockType="@BlockType.HomePage">
                           <span>@_localizer[BlockType.HomePage.DisplayName()]</span>
                        </a>
                    </li>
                    <li class="@(Html.GetId("blockType") == BlockType.Profile.ToString() ? "active" : "")">
                        <a asp-controller="Blocks" asp-action="Index" asp-route-blockType="@BlockType.Profile">
                            <span>@_localizer[BlockType.Profile.DisplayName()]</span>
                        </a>
                    </li>
                    <li class="@(Html.GetId("blockType") == BlockType.ContactUs.ToString() ? "active" : "")">
                        <a asp-controller="Blocks" asp-action="Index" asp-route-blockType="@BlockType.ContactUs">
                            <span>@_localizer[BlockType.ContactUs.DisplayName()]</span>
                        </a>
                    </li>
                 

                        <li class="@Html.IsSelected("Users", "Index,Users")">
                            <a href="javascript:void(0)" class="has-arrow">
                                <span>@_localizer["Users"]</span>
                            </a>
                            <ul>

                                <li class="@Html.IsSelected("Users", "Index")">
                                    <a asp-controller="Users" asp-action="Index">
                                        <span>System Users</span>
                                    </a>
                                </li>



                            </ul>
                        </li>

                     

                    </ul>
                </li>

                <li>




                </li>


              
              

                <li class="@Html.IsSelected("Category", "Index,Create,Edit")">
                    <a asp-controller="Category" asp-action="Index">
                        <i class="fa  fa-server"></i> <span>@_localizer["Category"]</span>
                    </a>
                </li>

                <li class="@Html.IsSelected("Product", "Index,Create,Edit")">
                    <a asp-controller="Product" asp-action="Index">
                        <i class="fa  fa-server"></i> <span>@_localizer["Product"]</span>
                    </a>
                </li>

            <li class="@Html.IsSelected("Client", "Index,Create,Edit")">
                <a asp-controller="Client" asp-action="Index">
                    <i class="fa  fa-server"></i>   <span>@_localizer["Client"]</span>
                </a>
            </li>

            <li class="@Html.IsSelected("Vendor", "Index,Create,Edit")">
                <a asp-controller="Vendor" asp-action="Index">
                    <i class="fa  fa-server"></i>   <span>@_localizer["Vendor"]</span>
                </a>
            </li>


       
           

                <li class="@Html.IsSelected("Logs", "Index")">
                    <a asp-controller="Logs" asp-action="Index">
                        <i class="fa  fa-server"></i> <span>@_localizer["Logs"]</span>
                    </a>
                </li>

            </ul>

        

    </div>
</div>